{{template "base" .}}

{{define "title"}}
<title>Payment Succeeded</title>
{{end}}

{{define "content"}}
<h2 class="mt-5">Receipt</h2>
<hr>
<p>Payment Intent: {{index .Data "pi"}}</p>
<p>Payee Name: {{index .Data "cardholder"}}</p>
<p>Payee Email: {{index .Data "email"}}</p>
<p>Payment Method: {{index .Data "pm"}}</p>
<p>Payment Amount: {{index .Data "pa"}}</p>
<p>Payment Currency: {{index .Data "pc"}}</p>
{{end}}
